@page "/messages/{Id:int}/edit"


@if (message != null)
{
    <article>
        <EditForm Model="message" OnValidSubmit="UpdateMessage">
            <label for="content">Message</label>
            <InputTextArea @bind-Value="message.Content" id="content" required></InputTextArea>
            <button type="submit">Save</button>
        </EditForm>
    </article>
}
